<div class="contents row">
  <%= form_tag('/tweets', method: :post) do %>
    <%= flash[:error] %>
    <h3>
      投稿する
    </h3>
      <input type="text" name="name" placeholder="Nichname">
      <input type="text" name="image" placeholder="Image Url">
      <textarea name="text" cols="30" rows="10"></textarea>
      <input type="submit" value="SENT">
  <% end %>
</div>
